body {
	background: #E0FFFF;
}

.form-area {
	background: #cbedff;
	border-radius: 3px;
	position: fixed; /* ヘッダーを固定する */
	top: 0; /* 上部から配置の基準位置を決める */
	left : 0; /* 左から配置の基準位置を決める */
	width: 100%;
}

.link{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #8AABE6;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.link:hover{
	background: #B3D9FF;
    color: #FFF;
}
.logout{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #8AABE6;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.logout:hover{
	background: #B3D9FF;
    color: #FFF;
}

li{
	list-style: none;
}
.errormsg{
	color: #EC407A;
}
.main-contents {
	padding: 0.5em 1em;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: white;
	height: 90%%;
	width: 90%;
	border-top: solid 3px #edooff;
	border-radius: 3px;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
	text-align: left;
}

.conditions {
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #00BCD4;
	background: #e4fcff; /*背景色*/
	border-top: solid 6px #1dc1d6;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); /*影*/
	border-radius: 3px;
}

.messages {
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #00BCD4;
	background: #e4fcff; /*背景色*/
	border-top: solid 6px #1dc1d6;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); /*影*/
	word-wrap: break-word;
	border-radius: 3px;
}

.message.text{
	white-space:pre-wrap;
}

.comment {
	padding: 0.2em 0.5em;
	margin: 2em 0;
	background: #d6ebff;
	box-shadow: 0px 0px 0px 10px #d6ebff;
	border: dashed 2px white;
	word-wrap: break-word;
	border-radius: 3px;
}
.comment.text{
	white-space:pre-wrap;
}

.h1 {
	font-family: 'Bitter', serif;
	font-size: 36px;
	border-bottom: 1px solid #cccccc;
}

.errorMessages {
	margin-top: 2%;
	margin-right: 5%;
	margin-bottom: 2%;
	margin-left: 3%;
	color: red;
	text-align: center;
}
textarea.comment-box{
	padding: 0.2em 0.5em;
	margin-top: 10px;
	margin-right: 5%;
	margin-bottom: 10px;
	margin-left: 35%;
	width: 60%;
	line-height: 100%;
	border-radius: 5px;
}
textarea.newmessage-box{
	padding: 0.2em 0.5em;
	margin-top: 10px;
	margin-right: 5%;
	margin-bottom: 10px;
	margin-left: 5%;
	width: 90%;
	line-height: 100%;
	border-radius: 5px;
}

table{
	width: 90%;
	height: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-botttom: 5%;
	*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    border-radius: 5px;
}

.table th{
	width: 15%;
	padding: 1%;
	background: #FFFFE0;
	border: solid 2px #aaaaaa;
}

.table td{
	padding: 1%;
	height: 100px;
	border: solid 2px #aaaaaa;
	text-align: center;
}
th:first-child {
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}

/* ユーザー登録 */
input#account{
	width: 90%;
	height: 30%;
	border-radius: 5px;
}
input#password{
	width: 90%;
	height: 30%;
	border-radius: 5px;
}
input#pass_ck{
	width: 90%;
	height: 30%;
	border-radius: 5px;
}
input#name{
	width: 90%;
	height: 30%;
	border-radius: 5px;
}
select#department{
	width: 90%;
	height: 30%;
	border-radius: 5px;
}
select#branch{
	width: 90%;
	height: 30%;
	order-radius: 5px;
}

/* 新規投稿 */
input#subject{
	width: 90%;
	height: 30%;
	border-radius: 5px;
}
input#category{
	width: 90%;
	height: 30%;
	border-radius: 5px;
}

.input_name{
	float: right;
	font-size: 50%;
	opacity: 0.5;
}
.input_category{
	float: left;
	font-size: 50%;
	opacity: 0.5;
}
.input_date{
	float: right;
	font-size: 50%;
	opacity: 0.5;
}
.input_submit{
	text-align: right;
}

input[type="submit"]{
	margin-top: 2%;
	margin-bottom: 2%;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .4s;
}
input[type="submit"]:hover{
	background: #cbedff;
    color: #FFF;
}
.management_submit{
	text-align: center;
}

button{
	margin: 5%;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .4s;
}
button:hover{
	background: #cbedff;
    color: #FFF;
}
.login{
	text-align: center;
	margin-top:5%;
}
input#login_password{
	border-radius: 3px;
	width: 18%;
}
input#login_account{
	border-radius: 3px;
	width: 18%;
}

.message_title{
	margin: 2em 0;
    background: #dcefff;
    border-radius: 3px;
    padding: 0.2em 0.5em;
}
.message_title.message_text{
	font-size: 1.2em;
    background: ＃FFF;
    padding: 4px;
    color: #dcefff;
    letter-spacing: 0.05em;
    border-radius: 3px;
}
.message_text {
	padding: 0.2em 0.5em;
	background:  #FFFFFE;
	border-radius: 3px;
}
.comment_title{
	width: 60%;
	padding: 0.2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 35%;
	magin-right: 5%;
	background: #d6ebff;
	box-shadow: 0px 0px 0px 10px #d6ebff;
	word-wrap: break-word;
	border-radius: 3px;
}
.comment_text{
	padding: 0.2em 0.5em;
	margin: 0;
	background: #ffffff;
	box-shadow: 0px 0px 0px 10px #d6ebff;
	border: solid 2px white;
	word-wrap: break-word;
	border-radius: 3px;
}
.loginUser{
  margin-top: 20px;
  margin-right: 5px;
}

.copyright{
	text-align: center;
	height:100px;
	width:100%;
}

.profile.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 11px;
  width: 14px;
  height: 6px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  border-radius: 6px 6px 0 0;
}